{% extends "admin_network/layout.html" %}

{% block content %}
    {% if message %}
        <h1 style="color: red">{{ message }}</h1>
    {% endif %}
    <form action="{{ url_for('create_category') }}" method="post">
        <div class="form-group row">
            <label for="category" class="col-sm-2 col-form-label">Названеи категории</label>
            <div class="col-sm-10">
                <input type="text" placeholder="категория" name="category" id="category" required>
            </div>
        </div>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default active form-check-label">
                <input class="form-check-input" type="radio" name="type_category" value="drink" required checked autocomplete="off"> напитки
            </label>
            <label class="btn btn-default form-check-label">
                <input class="form-check-input" type="radio" name="type_category" value="topping" autocomplete="off"> добавки(в напиток)
            </label>
            <label class="btn btn-default form-check-label">
                <input class="form-check-input" type="radio" name="type_category" value="eat" autocomplete="off"> еда
            </label>
            <label class="btn btn-default form-check-label">
                <input class="form-check-input" type="radio"  name="type_category" value="other" autocomplete="off"> прочее
            </label>
        </div>

       {# Названеи категории <input type="text" placeholder="категория" name="category"><br>
        <input type="radio" name="type_category" value="drink" required> напитки
        <input type="radio" name="type_category" value="topping" required> добавки(в напиток)
        <input type="radio" name="type_category" value="eat" required> еда
        <input type="radio" name="type_category" value="other" required> прочее<br>#}
        <input type="submit" value="создать" class="btn btn-primary">


    </form><br>

    {% if categories %}
        <table class="table">
            <tr>
                <th>название</th>
                <th>тип</th>
                <th></th>
            </tr>
        {% for c in categories %}
            <tr>
                <td>{{ c['title_category'] }}</td>
                <td>
                    {% if c['type_category'] == 1  %}
                        напиток
                    {% elif c['type_category'] == 2 %}
                        добавка в напиток
                    {% elif c['type_category'] == 3 %}
                        еда
                    {% else %}
                        расходник
                    {% endif %}
                </td>
                <td><a href="{{ url_for('remove_category', id_category=c['id_category'] ) }}"><input type="button" value="удалить"></a></td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <H1>у вас пока что нет категорий </H1>
    {% endif %}

{% endblock %}