<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
<title>{% block heads %}{% endblock %}</title>
   {% block head %}

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
       <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
       <script src="{{ url_for('static', filename='js/jquery.maskedinput.min.js') }}"></script>
       <script src="{{ url_for('static', filename='js/decimal.js') }}"></script>
       {#<script src="{{ url_for('static', filename='graphic/highcharts.js') }}"></script>
       <script src="{{ url_for('static', filename='graphic/exporting.js') }}"></script>
#}
       <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"/>
       <link rel="stylesheet" href="{{ url_for('static', filename='tabs/style.min.css') }}">
       {#<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">#}
       <link rel="stylesheet" href="{{ url_for('static', filename='js_menu/style.css') }}">



       <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.maskedinput.min.js') }}"></script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='log.png') }}"/>
    <script src="{{ url_for('static', filename='js/decimal.js') }}"></script>
    {#<script src="{{ url_for('static', filename='graphic/highcharts.js') }}"></script>
           <script src="{{ url_for('static', filename='graphic/exporting.js') }}"></script>#}
    {#<link rel="stylesheet" href="{{ url_for('static', filename='tabs/ionicons.min.cs') }}">#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"/>
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='tabs/style.min.css') }}">
    {#<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js_menu/style.css') }}">
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.1/jquery.jgrowl.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.1/jquery.jgrowl.min.js"></script>




   {% endblock %}
    {% block scripts %}{% endblock %}
</head>
<body>


<nav id="navigation">
  <ul>
      {#<li class="dropdown" rel="1"><a href="#"><i class="ion-map"></i><span>google map</span>
        <ul class="dropdown-1">
            <li><a href="{{ url_for('google_map') }}"><i class="ion-map"></i><span>address</span></a></li>
            <li><a href="{{ url_for('google_map_lat_lan') }}"><i class="ion-map"></i><span>lat_lan</span></a></li>
        </ul></a></li>#}

      <li><a href="{{ url_for('shops') }}"><i class="ion-ios-location"></i><span>кофейни</span></a></li>
      <li><a href="{{ url_for('categories') }}"><i class="ion-ios-list"></i><span>категории</span></a></li>
      <li><a href="{{ url_for('global_products') }}"><i class="ion-ios-paper">{#<img src="{{ url_for('static', filename='cheese.png') }}" width="20px">#}</i><span>товары</span></a></li>
      {#<li><a href="{{ url_for('news') }}"><i class="ion-android-list"></i><span>новости</span></a></li>#}
      <li><a href="{{ url_for('workers') }}"><i class="ion-ios-person"></i><span>работники</span></a> </li>
      <li><a href="{{ url_for('logout') }}"><i class="ion-android-exit"></i><span>выход</span></a></li>
      {#<li><a href="{{ url_for('new_version_product') }}"><i class="ion-android-exit"></i><span>товар</span></a></li>#}


    {#<li><a href="#"><i class="ion-ios-speedometer-outline"></i><span>Dashboard</span></a></li>
    <li><a href="#"><i class="ion-chatbubbles"></i><span>Forum</span></a></li>
    <li class="dropdown" rel="1"><a href="#"><i class="ion-email"></i><span>Messages</span>
        <ul class="dropdown-1">
          <li><a href="#"><i class="ion-email"></i><span>Read</span></a></li>
          <li><a href="#"><i class="ion-email-unread"></i><span>Unread</span></a></li>
          <li><a href="#"><i class="ion-plus"></i><span>Create Message</span></a></li>
        </ul></a></li>
    <li class="dropdown" rel="2"><a href="#"><i class="ion-gear-a"></i><span>Settings</span>
        <ul class="dropdown-2">
          <li><a href="#"><i class="ion-person"></i><span>Edit Profile</span></a></li>
          <li><a href="#"><i class="ion-gear-b"></i><span>Edit Options</span></a></li>
        </ul></a></li>
    <li><a href="#"><i class="ion-log-out"></i><span>Logout</span></a></li>#}
  </ul>
</nav>
<div id="wrapper"><span>
    <div style="text-align: center"> {% block header %}<font size="18" color="#f0ffff" face="Bedrock" ></font>{% endblock %}</div>
    <div id="find">{% block filter %}{% endblock %}</div>

    {% block content %}{%endblock %}
</span></div>

<script src="{{ url_for('static', filename='js_menu/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='js_menu/index.js') }}"></script>



{#<div id="content"></div>#}
</body>
</html>