{% extends "admin_network/layout.html" %}
{% block scripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='multi_select/jquery.multiselect.css') }}">
    <script src="{{ url_for('static', filename='multi_select/jquery.multiselect.js') }}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        var id_row_cop_info = 0;
        var row_other_material = 1;
        var row_concrete_material = 1;
        function remove_dop_option(id_row_cop_inf_) {
            //alert(id_row_cop_inf_)
            document.getElementById('row_dop_option'+id_row_cop_inf_).remove();
        }

        function create_box_dop_info_product() {
            var tr = document.createElement('tr');
            tr.setAttribute('id', 'row_dop_option'+id_row_cop_info);

            var td1 = document.createElement('td');
            td1.appendChild(document.createTextNode('имя опции'));
            tr.appendChild(td1);
            var i = id_row_cop_info;
            var td2 = document.createElement('td');
            var input1 = document.createElement('input');
            input1.setAttribute('name', 'name_option');
            input1.setAttribute('type', 'text');
            input1.classList.add('form-control-plaintext');
            td2.appendChild(input1);
            tr.appendChild(td2);
            var td3 = document.createElement('td');
            td3.appendChild(document.createTextNode('значение опции'));
            tr.appendChild(td3);
            var td4 = document.createElement('td');
            var input2 = document.createElement('input');
            input2.setAttribute('name', 'value_option');
            input2.setAttribute('type', 'text');
            input2.classList.add('form-control-plaintext');
            td4.appendChild(input2);
            tr.appendChild(td4);
            var td5 = document.createElement('td');
            var input3 = document.createElement('input');
            input3.setAttribute('type', 'button');
            input3.setAttribute('value', '-');
            input3.classList.add('form-control-plaintext');
            input3.onclick = function () {
                remove_dop_option(i)
            };

            td5.appendChild(input3);
            id_row_cop_info++;
            tr.appendChild(td5);
            document.getElementById("dop_option").appendChild(tr);

        }

        function crate_content() {
            var myNode = document.getElementById('other_information');
            while (myNode.firstChild) {
                myNode.removeChild(myNode.firstChild);
            }
            var type = document.getElementById('category').value.split('_');
            switch(parseInt(type[1]) ){
            case 1:
                console.log('coffee');
                create_content_drinks();
                break;
            case 2:
                console.log('toppings');
                create_content_toppings();
                break;
            case 3:
                create_content_eat();
                console.log('eat');
                break;
            case 4:
                create_content_other();
                console.log('other');
                break;
            default:
                alert('error')
        }

        console.log( type[0]);
        }

        function create_content_drinks() {
            var d = document.getElementById('other_information')
            var text = '';
            text += '<h2>Конкретные продукты<input type="button" value="+" onclick="create_concrete_product()"></h2>\n' +
                '            <div id="concrete_info_product">\n' +
                '                <div id="concrete_product_0">\n' +
                '                    <div class="form-group row">\n' +
                '                        <label for="sub_title" class="col-sm-2 col-form-label">Приставка к названию</label>\n' +
                '                        <div class="col-sm-10">\n' +
                '                            <input type="text" class="form-control-plaintext" id="sub_title" name="sub_title" placeholder="под название">\n' +
                '                        </div>\n' +
                '                    </div>\n' +
                '                    <div class="form-group row">\n' +
                '                        <label for="volume" class="col-sm-2 col-form-label">Объем</label>\n' +
                '                        <div class="col-sm-10">\n' +
                '                            <input type="number" class="form-control-plaintext" id="volume" name="volume" placeholder="объем" min="1" step="1">ml\n' +
                '                        </div>\n' +
                '                    </div>\n' +
                '                    <div class="form-group row">\n' +
                '                        <label for="price" class="col-sm-2 col-form-label">Цена</label>\n' +
                '                        <div class="col-sm-10">\n' +
                '                            <input type="number" min="0" step="0.01" class="form-control-plaintext" id="price" name="price" placeholder="стоимость"  >грн\n' +
                '                        </div>\n' +
                '                    </div>\n' +
                '                    <h3>Расходные материалы <input type="button" value="+" onclick="create_orher_material_tr(0)"></h3>\n' +
                '                    <table id="other_material_0">\n' +
                '                        <tr id="row_0_0">\n' +
                '                            <td>что</td>\n' +
                '                            <td>\n' +
                '                                <select name="other_0">\n';
{% for o in other %}
    text += '<option value="{{ o['id_other'] }}">{{ o['title_other'] }}</option>';
{% endfor %}
text += '                                </select>\n'+
'                            </td>\n'+
'                            <td>\n'+
'                                сколько\n'+
'                            </td>\n'+
'                            <td>\n'+
'                                <input type="number" name="other_val_0" step="1" min="0">\n'+
'                            </td>\n'+
'                            <td>\n'+
'                                <input type="button" value="-" onclick="remove_other_material_tr(\'row_0_0\')">\n'+
'                            </td>\n'+
'                        </tr>\n'+
'                    </table>\n'+
'                </div>\n'+
'\n'+
'            </div>\n'+
'            <h2>Добавки в напиток</h2>\n'+
'                <select name="toppings" multiple="multiple" class="3col active" style="width: 200px" >\n';
            {% for t in toppings %}
            text += '<option value="{{ t['id_topping'] }}" >{{ t['title_topping'] }}</option>';
                   {% endfor %}
text += '                </select>\n'+
'                <script>\n'+
'                    $(function () {\n'+
'                        $(\'select[multiple].active.3col\').multiselect({\n'+
'                            columns: 3,\n'+
'                            placeholder: \'Select States\',\n'+
'                            search: true,\n'+
'                            searchOptions: {\n'+
'                                \'default\': \'Search States\'\n'+
'                            },\n'+
'                            selectAll: true\n'+
'                        });\n'+
'                    });\n'+
'                <\/script>';
        d.innerHTML = text;

        }

        function create_content_toppings() {
            var d = document.getElementById('other_information');
            d.innerHTML = '<div class="form-group row"><label for="volume" class="col-sm-2 col-form-label">Объем</label><div class="col-sm-10"><input type="number" class="form-control-plaintext" id="volume" name="volume" placeholder="объем" min="1" step="1">ml</div></div>'+
            '<div class="form-group row"><label for="price" class="col-sm-2 col-form-label">Цена</label><div class="col-sm-10"><input type="number" min="0" step="0.01" class="form-control-plaintext" id="price" name="price" placeholder="стоимость"  >грн</div></div>';


        }

        function create_content_eat() {
            var d = document.getElementById('other_information');
            d.innerHTML = ' <div class="form-group row"><label for="price" class="col-sm-2 col-form-label">Цена</label><div class="col-sm-10"><input type="number" min="0" step="0.01" class="form-control-plaintext" id="price" name="price" placeholder="стоимость"  ></div></div>';




        }

        function create_content_other() {

        }

        function create_orher_material_tr(id_row) {
            var d = document.createElement('tr');
            d.setAttribute('id', 'row_'+id_row+'_'+row_other_material+'');
            var text = ''
            //text += '<tr id="row_'+id_row+'_'+row_other_material+'">';
            text += '<td>что</td><td><select name="other_0">';
            {% for o in other %}
            text += '<option value="{{ o['id_other'] }}">{{ o['title_other'] }}</option>';
            {% endfor %}
            text += '</select></td><td>сколько</td><td><input type="number" name="other_val_0" step="1" min="0"></td><td>';
            text += '<input type="button" value="-" onclick="remove_other_material_tr(\'row_'+id_row+'_'+row_other_material+'\')"></td>';
            d.innerHTML = text;
            row_other_material++;
            document.getElementById('other_material_'+id_row).appendChild(d);

        }

        function remove_other_material_tr(id_row){
            var myNode = document.getElementById(id_row);
            while (myNode.firstChild) {
                myNode.removeChild(myNode.firstChild);
            }

        }

        function remove_concrete_product(id_conc){
            var myNode = document.getElementById(id_conc);
            while (myNode.firstChild) {
                myNode.removeChild(myNode.firstChild);
            }

        }


        function create_concrete_product(){
            var d = document.createElement('div');
            d.setAttribute('id', 'concrete_product_'+row_concrete_material);
            text = '<hr><input type="button" value="удалить" onclick="remove_concrete_product(\'concrete_product_'+row_concrete_material+'\')">';

            text += '<div class="form-group row"><label for="sub_title" class="col-sm-2 col-form-label">Приставка к названию</label><div class="col-sm-10">';
            text += '<input type="text" class="form-control-plaintext" id="sub_title" name="sub_title" placeholder="под название"></div></div><div class="form-group row">';
            text += '<label for="volume" class="col-sm-2 col-form-label">Объем</label><div class="col-sm-10"><input type="number" class="form-control-plaintext" id="volume" name="volume" placeholder="объем" min="1" step="1">ml';
            text += '</div></div><div class="form-group row"><label for="price" class="col-sm-2 col-form-label">Цена</label><div class="col-sm-10"><input type="number" min="0" step="0.01" class="form-control-plaintext" id="price" name="price" placeholder="стоимость"  >грн';
            text += '</div></div><h3>Расходные материалы <input type="button" value="+" onclick="create_orher_material_tr('+row_concrete_material+')"></h3><table id="other_material_'+row_other_material+'">';
            text += '<tr id="row_'+row_concrete_material+'_'+row_other_material+'"><td>что</td><td><select name="other_'+row_concrete_material+'">';
                {% for o in other %}
                    text += '<option value="{{ o['id_other'] }}">{{ o['title_other'] }}</option>';
                {% endfor %}
            text += '</select></td><td>сколько</td><td><input type="number" name="other_val_'+row_concrete_material+'" step="1" min="0"></td><td><input type="button" value="-" onclick="remove_other_material_tr(\'row_'+row_concrete_material+'_'+row_other_material+'\')">'
            text += '</td></tr></table></div>';
            row_other_material++;
            row_concrete_material ++;
            d.innerHTML = text;
            document.getElementById('concrete_info_product').appendChild(d);

        }
        window.onload = function(){
            crate_content()
        }
    </script>
{% endblock %}
{% block content %}
{% if categories %}
    <form  method="post" enctype="multipart/form-data" action="{{ url_for('new_version_product') }}" >
        <div class="form-group row">
            <label for="category" class="col-sm-2 col-form-label">Категория товара</label>
            <div class="col-sm-10" >
                <select id="category" name="category" class="form-control" onchange="crate_content()">
                {% for c in categories %}
                    <option value="{{ c['id_category'] }}_{{ c['type_category'] }}">{{ c['title_category'] }}</option>
                {% endfor %}
                </select>

            </div>
        </div>
        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Название товара</label>
            <div class="col-sm-10" >
                <input type="text" class="form-control-plaintext" id="title" name="title" placeholder="Название">
            </div>
        </div>
        <div class="form-group row">
            <label for="photo" class="col-sm-2 col-form-label">Фото</label>
            <div class="col-sm-10">
                <input id="photo" class="form-control-plaintext" type="file" name="file" accept="image/*" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">Описание</label>
            <div class="col-sm-10">
                <textarea type="text" class="form-control-plaintext" id="description" name="description" placeholder="Описание"rows="3" style="width: 100%;resize: none"></textarea>
            </div>
        </div>
        <h2>Дополнительные опции<input type="button" value="+" onclick="create_box_dop_info_product()"></h2>
        <div class="form-group row">

            <div class="col-sm-10">
                <table class="table" id="dop_option">
                </table>

            </div>
        </div>
        <div id="other_information">
            <h2>Конкретные продукты<input type="button" value="+" onclick="create_concrete_product()"></h2>
            <div id="concrete_info_product">
                <div id="concrete_product_0">
                    <div class="form-group row">
                        <label for="sub_title" class="col-sm-2 col-form-label">Приставка к названию</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control-plaintext" id="sub_title" name="sub_title" placeholder="под название">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="volume" class="col-sm-2 col-form-label">Объем</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control-plaintext" id="volume" name="volume" placeholder="объем" min="1" step="1">ml
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="price" class="col-sm-2 col-form-label">Цена</label>
                        <div class="col-sm-10">
                            <input type="number" min="0" step="0.01" class="form-control-plaintext" id="price" name="price" placeholder="стоимость"  >грн
                        </div>
                    </div>
                    <h3>Расходные материалы <input type="button" value="+" onclick="create_orher_material_tr(0)"></h3>
                    <table id="other_material_0">
                        <tr id="row_0_0">
                            <td>что</td>
                            <td>
                                <select name="other_0">
                                    {% for o in other %}
                                        <option value="{{ o['id_other'] }}">{{ o['title_other'] }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                сколько
                            </td>
                            <td>
                                <input type="number" step="1" min="0">
                            </td>
                            <td>
                                <input type="button" value="-" onclick="remove_other_material_tr('row_0_0')">
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <h2>Добавки в напиток</h2>
                <select name="toppings" multiple="multiple" class="3col active" style="width: 200px" required>
                    {% for t in toppings %}
                        <option value="{{ t['id_topping'] }}" >{{ t['title_topping'] }}</option>
                    {% endfor %}
                </select>
                <script>
                    $(function () {
                        $('select[multiple].active.3col').multiselect({
                            columns: 3,
                            placeholder: 'Select States',
                            search: true,
                            searchOptions: {
                                'default': 'Search States'
                            },
                            selectAll: true
                        });
                    });
                </script>


        </div>
        <input type="submit" value="create" class="btn btn-primary">
    </form>



{% else %}
    у вас нет категорий товаров для начала создайте их
    <a href="{{ url_for('categories') }}"><input type="button" value="клац"></a>
{% endif %}
{% endblock %}