{% extends "admin_network/layout.html" %}
{% block scripts %}
    <script>

    window.on_ready = function () {
        document.getElementById('{{ keys[0] }}').click;

    }
    </script>
{% endblock %}

{% block content %}

    <a href="{{ url_for('new_product',id_coffee_shop=id_coffee_shop) }}"><input type="button" value="новый товар"></a>

    {% if is_copy == False %}

        <main class="o-main">
  <div class="o-container">

    <div class="o-section" >
      <div id="tabs" class="c-tabs no-js">
        <div class="c-tabs-nav">
            <a href="#" id="{{ keys[0] }}" class="c-tabs-nav__link  is-active">
                {#<i class="ion-ios-videocam"></i>#}

                    <span>{{ products[keys[0]]['title_category'] }}</span>
                  </a>
            {% for i in range(1,keys|length) %}
                  <a href="#" id="{{ keys[i] }}" class="c-tabs-nav__link ">
                      {#<i class="ion-ios-videocam"></i>#}

                    <span>{{ products[keys[i]]['title_category'] }}</span>
                  </a>
            {% endfor %}
         {# <a href="#" class="c-tabs-nav__link#}{#{% if request.cookies.get('tabs') %}{% if request.cookies.get('tabs') == '2' %} is-active{% endif %}{% endif %}#}{#">
            <i class="ion-image"></i>
            <span>II</span>
          </a>
          <a href="#" class="c-tabs-nav__link">
            <i class = 'ion-ios-musical-note'></i>
            <span>III</span>
          </a>#}

        </div>
        {#<div class="c-tab is-active" style="color: #1a1a1a">
          <div class="c-tab__content" >
              первая таька
          </div>
        </div>#}
      <div  class="c-tab is-active" style="color: #1a1a1a">
              <div class="c-tab__content">
                  {% if products[keys[0]]['type_category'] == 1 %}
                      {% if products[keys[0]]['products'] %}
                            <table width="100%">
                                <tr>
                                    <th>фото</th>
                                    <th>название</th>
                                    <th>описание</th>
                                    <th>цена</th>
                                    <th>под продукты</th>
                                    <th>прочее</th>
                                </tr>
                                {% for pr in products[keys[0]]['products'] %}
                                    <tr>
                                    <td><img src="{{ pr['path_img'] }}" width="50px"></td>
                                    <td>{{ pr['title_product'] }}</td>
                                    <td>{{ pr['description'] }}</td>
                                    <td>{{ pr['price'] }}</td>
                                    <td>
                                        {% if pr['sub_product'] %}
                                            <table>
                                                <tr>
                                                    <th>название</th>
                                                    <th>цена</th>
                                                    <th>объем</th>
                                                </tr>
                                                {% for sp in pr['sub_product'] %}
                                                    <tr>
                                                        <td>{{ sp['concrete_title'] }}</td>
                                                        <td>{{ sp['concrete_price'] }}</td>
                                                        <td>{{ sp['volume'] }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        {% else %}
                                            нет под продуктов
                                        {% endif %}

                                    </td>
                                    <td>
                                        <a href="{{ url_for('remove_product',id_product=pr['id_product'],id_coffee_shop=id_coffee_shop) }}"><input type="button" value="удалить"></a>
                                    </td>
                                    </tr>
                                {% endfor %}
                          </table>
                      {% else %}
                          пока таких товаров нет
                      {% endif %}

                  {% elif products[keys[0]]['type_category'] == 2 %}
                         {% if products[keys[0]]['products'] %}
                            <table width="100%">
                                <tr>
                                    <th>фото</th>
                                    <th>название</th>
                                    <th>описание</th>
                                    <th>цена</th>

                                    <th>прочее</th>
                                </tr>
                                {% for pr in products[keys[0]]['products'] %}
                                    <tr>
                                    <td><img src="{{ pr['path_img'] }}" width="50px"></td>
                                    <td>{{ pr['title_product'] }}</td>
                                    <td>{{ pr['description'] }}</td>
                                    <td>{{ pr['price'] }}</td>

                                    <td>
                                        <a href="{{ url_for('remove_product',id_product=pr['id_product'],id_coffee_shop=id_coffee_shop) }}"><input type="button" value="удалить"></a>
                                    </td>
                                    </tr>
                                {% endfor %}
                          </table>
                      {% else %}
                          пока таких товаров нет
                      {% endif %}
                  {% else %}
                    {% if products[keys[0]]['products'] %}
                            <table width="100%">
                                <tr>
                                    <th>фото</th>
                                    <th>название</th>
                                    <th>описание</th>
                                    <th>цена</th>

                                    <th>прочее</th>
                                </tr>
                                {% for pr in products[keys[0]]['products'] %}
                                    <tr>
                                    <td><img src="{{ pr['path_img'] }}" width="50px"></td>
                                    <td>{{ pr['title_product'] }}</td>
                                    <td>{{ pr['description'] }}</td>
                                    <td>{{ pr['price'] }}</td>

                                    <td>
                                        <a href="{{ url_for('remove_product',id_product=pr['id_product'],id_coffee_shop=id_coffee_shop) }}"><input type="button" value="удалить"></a>
                                    </td>
                                    </tr>
                                {% endfor %}
                          </table>
                      {% else %}
                          пока таких товаров нет
                      {% endif %}
                  {% endif %}
              </div>
          </div>
      {% for i in range(1,keys|length) %}
          <div  class="c-tab " style="color: #1a1a1a">
              <div class="c-tab__content">
                  {% if products[keys[i]]['type_category'] == 1 %}
                      {% if products[keys[i]]['products'] %}
                            <table width="100%">
                                <tr>
                                    <th>фото</th>
                                    <th>название</th>
                                    <th>описание</th>
                                    <th>цена</th>
                                    <th>под продукты</th>
                                    <th>прочее</th>
                                </tr>
                                {% for pr in products[keys[i]]['products'] %}
                                    <tr>
                                    <td><img src="{{ pr['path_img'] }}" width="50px"></td>
                                    <td>{{ pr['title_product'] }}</td>
                                    <td>{{ pr['description'] }}</td>
                                    <td>{{ pr['price'] }}</td>
                                    <td>
                                        {% if pr['sub_product'] %}
                                            <table>
                                                <tr>
                                                    <th>название</th>
                                                    <th>цена</th>
                                                    <th>объем</th>
                                                </tr>
                                                {% for sp in pr['sub_product'] %}
                                                    <tr>
                                                        <td>{{ sp['concrete_title'] }}</td>
                                                        <td>{{ sp['concrete_price'] }}</td>
                                                        <td>{{ sp['volume'] }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        {% else %}
                                            нет под продуктов
                                        {% endif %}

                                    </td>
                                    <td>
                                        <a href="{{ url_for('remove_product',id_product=pr['id_product'],id_coffee_shop=id_coffee_shop) }}"><input type="button" value="удалить"></a>
                                    </td>
                                    </tr>
                                {% endfor %}
                          </table>
                      {% else %}
                          пока таких товаров нет
                      {% endif %}

                  {% elif products[keys[i]]['type_category'] == 2 %}
                         {% if products[keys[i]]['products'] %}
                            <table width="100%">
                                <tr>
                                    <th>фото</th>
                                    <th>название</th>
                                    <th>описание</th>
                                    <th>цена</th>

                                    <th>прочее</th>
                                </tr>
                                {% for pr in products[keys[i]]['products'] %}
                                    <tr>
                                    <td><img src="{{ pr['path_img'] }}" width="50px"></td>
                                    <td>{{ pr['title_product'] }}</td>
                                    <td>{{ pr['description'] }}</td>
                                    <td>{{ pr['price'] }}</td>

                                    <td>
                                        <a href="{{ url_for('remove_product',id_product=pr['id_product'],id_coffee_shop=id_coffee_shop) }}"><input type="button" value="удалить"></a>
                                    </td>
                                    </tr>
                                {% endfor %}
                          </table>
                      {% else %}
                          пока таких товаров нет
                      {% endif %}
                  {% else %}
                    {% if products[keys[i]]['products'] %}
                            <table width="100%">
                                <tr>
                                    <th>фото</th>
                                    <th>название</th>
                                    <th>описание</th>
                                    <th>цена</th>

                                    <th>прочее</th>
                                </tr>
                                {% for pr in products[keys[i]]['products'] %}
                                    <tr>
                                    <td><img src="{{ pr['path_img'] }}" width="50px"></td>
                                    <td>{{ pr['title_product'] }}</td>
                                    <td>{{ pr['description'] }}</td>
                                    <td>{{ pr['price'] }}</td>

                                    <td>
                                        <a href="{{ url_for('remove_product',id_product=pr['id_product'],id_coffee_shop=id_coffee_shop) }}"><input type="button" value="удалить"></a>
                                    </td>
                                    </tr>
                                {% endfor %}
                          </table>
                      {% else %}
                          пока таких товаров нет
                      {% endif %}
                  {% endif %}
              </div>
          </div>
      {% endfor %}
        {#<div class="c-tab" style="color: #1a1a1a">
          <div class="c-tab__content">
            третья табка
          </div>
        </div>#}

      </div>
    </div>


  </div>
</main>


    <script src="{{ url_for('static', filename='tabs/src/tabs.js') }}"></script>

    <script>
  var myTabs = tabs({
    el: '#tabs',
    tabNavigationLinks: '.c-tabs-nav__link',
    tabContentContainers: '.c-tab'
  });

  myTabs.init();
</script>
    {% else %}
        <br>

        в этой кофейне нет товаров <br>
        вы можете скопировать их из другой кофейни
        <form action="{{ url_for('copy_products', id_coffee_shop=id_coffee_shop)}}" method="post">
            <select name="copy_from">
                {% for s in shops %}
                    {% if id_coffee_shop|int != s['id_shop']|int %}
                        <option value="{{ s['id_shop'] }}">{{ s['title'] }}</option>
                    {% endif %}
                {% endfor %}

            </select>
        <input type="submit" value="копировать">
        </form>
    {% endif %}


{% endblock %}