{% extends "admin_network/layout.html" %}

{% block content %}
    {% if keys|length > 0 %}
    {#{{ products }}#}
    <a href="{{ url_for('new_version_product') }}"><input type="button" class="control-group" value="новый товар"></a>
    <main class="o-main" >
        <div class="o-container" style="width: 100%">
            <div class="o-section" style="width: 100%">
                <div id="tabs" class="c-tabs no-js" style="width: 100%" >
                    <div class="c-tabs-nav" style="width: 100%">
                        <a href="#" id="{{ keys[0] }}" class="c-tabs-nav__link  is-active">
                            {#<i class="ion-ios-videocam"></i>#}
                            <span>{{ products[keys[0]]['title_category'] }}</span>
                        </a>
                        {% for i in range(1,keys|length) %}
                            <a href="#" id="{{ keys[i] }}" class="c-tabs-nav__link ">
                                {#<i class="ion-ios-videocam"></i>#}
                                <span>{{ products[keys[i]]['title_category'] }}</span>
                            </a>
                        {% endfor %}
                    </div>
                    <div  class="c-tab is-active" style="color: #1a1a1a;width: 100%">
                        <div class="c-tab__content">
                            {% if products[keys[0]]['products'] %}
                                {% if products[keys[0]]['type_category'] == 1 %}
                                    <table class="table">
                                        <tr>
                                            <th>Фото</th>
                                            <th>Название</th>
                                            <th>Описание</th>
                                            <th>Добавки</th>
                                            <th>Конкретные товары</th>
                                            <th>Дополнительные опции</th>
                                            <th></th>
                                        </tr>
                                        {% for p in products[keys[0]]['products'] %}
                                        <tr>

                                            <td><img src="{{ p['path_img'] }}" class="img-circle" style="width: 50px" ></td>
                                            <td>{{ p['title'] }}</td>
                                            <td>{{ p['description'] }}</td>
                                            <td>
                                                {% for t in p['toppings'] %}
                                                    {{ toppings[t] }}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {%  for c in p['concrete_products'] %}
                                                <table class="table">
                                                    <tr>
                                                        <td>доп название</td>
                                                        <td>{{ c['sub_title'] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>объем</td>
                                                        <td>{{ c['volume'] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>цена</td>
                                                        <td>{{ c['price'] }}</td>
                                                    </tr>
                                                    <tr><td colspan="2">
                                                        <table class="table">
                                                            {% for dc in c['dop_info'] %}
                                                            <tr>
                                                                <td>{{ consumable[dc['id_consumable']] }}</td>
                                                                <td>{{ dc['quantity_consumable'] }} ед</td>
                                                            </tr>
                                                            {% endfor %}
                                                        </table>
                                                    </td>
                                                    </tr>

                                                </table>
                                                <hr>
                                                {% endfor %}

                                            </td>
                                            <td>
                                                <table>
                                                    {% for do in p['other_option']  %}
                                                    <tr>
                                                        <td>{{ do['name_option'] }}</td>
                                                        <td>{{ do['value_option'] }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </table>
                                            </td>
                                            <td>
                                                <input type="button" value="update">
                                                <input type="button" value="remove">
                                            </td>
                                        </tr>
                                        {% endfor %}

                                    </table>

                                {% elif products[keys[0]]['type_category'] == 2 %}
                                    <table class="table">
                                        <tr>
                                            <th>Фото</th>
                                            <th>Название</th>
                                            <th>Описание</th>
                                            <th>Конкретные товары</th>
                                            <th>Дополнительные опции</th>
                                            <th></th>
                                        </tr>
                                        {% for p in products[keys[0]]['products'] %}
                                        <tr>

                                            <td><img src="{{ p['path_img'] }}" class="img-circle" style="width: 50px" ></td>
                                            <td>{{ p['title'] }}</td>
                                            <td>{{ p['description'] }}</td>
                                            <td>
                                                {%  for c in p['concrete_products'] %}
                                                <table class="table">

                                                    <tr>
                                                        <td>объем</td>
                                                        <td>{{ c['volume'] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>цена</td>
                                                        <td>{{ c['price'] }}</td>
                                                    </tr>
                                                </table>
                                                <hr>
                                                {% endfor %}

                                            </td>
                                            <td>
                                                <table>
                                                    {% for do in p['other_option']  %}
                                                    <tr>
                                                        <td>{{ do['name_option'] }}</td>
                                                        <td>{{ do['value_option'] }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </table>
                                            </td>
                                            <td>
                                                <input type="button" value="update">
                                                <input type="button" value="remove">
                                            </td>
                                        </tr>
                                        {% endfor %}

                                    </table>
                                {% elif products[keys[0]]['type_category'] == 3 %}
                                    <table class="table">
                                        <tr>
                                            <th>Фото</th>
                                            <th>Название</th>
                                            <th>Описание</th>
                                            <th>Конкретные товары</th>
                                            <th>Дополнительные опции</th>
                                            <th></th>
                                        </tr>
                                        {% for p in products[keys[0]]['products'] %}
                                        <tr>

                                            <td><img src="{{ p['path_img'] }}" class="img-circle" style="width: 50px" ></td>
                                            <td>{{ p['title'] }}</td>
                                            <td>{{ p['description'] }}</td>
                                            <td>
                                                {%  for c in p['concrete_products'] %}
                                                <table class="table">

                                                    <tr>
                                                        <td>цена</td>
                                                        <td>{{ c['price'] }}</td>
                                                    </tr>

                                                </table>
                                                <hr>
                                                {% endfor %}

                                            </td>
                                            <td>
                                                <table>
                                                    {% for do in p['other_option']  %}
                                                    <tr>
                                                        <td>{{ do['name_option'] }}</td>
                                                        <td>{{ do['value_option'] }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </table>
                                            </td>
                                            <td>
                                                <input type="button" value="update">
                                                <input type="button" value="remove">
                                            </td>
                                        </tr>
                                        {% endfor %}

                                    </table>
                                {% else %}
                                    <table class="table">
                                        <tr>
                                            <th>Фото</th>
                                            <th>Название</th>
                                            <th>Описание</th>
                                            <th>Дополнительные опции</th>
                                            <th></th>
                                        </tr>
                                        {% for p in products[keys[0]]['products'] %}
                                        <tr>

                                            <td><img src="{{ p['path_img'] }}" class="img-circle" style="width: 50px" ></td>
                                            <td>{{ p['title'] }}</td>
                                            <td>{{ p['description'] }}</td>
                                            <td>
                                                <table>
                                                    {% for do in p['other_option']  %}
                                                    <tr>
                                                        <td>{{ do['name_option'] }}</td>
                                                        <td>{{ do['value_option'] }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </table>
                                            </td>
                                            <td>
                                                <input type="button" value="update">
                                                <input type="button" value="remove">
                                            </td>
                                        </tr>
                                        {% endfor %}

                                    </table>
                                {% endif %}
                            {% else %}
                                таких товаров пока - что нет
                            {% endif %}
                        </div>
                    </div>
                    {% for i in range(1,keys|length) %}
                        <div  class="c-tab " style="color: #1a1a1a">
                            <div class="c-tab__content">
                                {% if products[keys[i]]['products'] %}
                                {% if products[keys[i]]['type_category'] == 1 %}
                                    <table class="table">
                                        <tr>
                                            <th>Фото</th>
                                            <th>Название</th>
                                            <th>Описание</th>
                                            <th>Добавки</th>
                                            <th>Конкретные товары</th>
                                            <th>Дополнительные опции</th>
                                            <th></th>
                                        </tr>
                                        {% for p in products[keys[i]]['products'] %}
                                        <tr>

                                            <td><img src="{{ p['path_img'] }}" class="img-circle" style="width: 50px" ></td>
                                            <td>{{ p['title'] }}</td>
                                            <td>{{ p['description'] }}</td>
                                            <td>
                                                {% for t in p['toppings'] %}
                                                    {{ toppings[t] }}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {%  for c in p['concrete_products'] %}
                                                <table class="table">
                                                    <tr>
                                                        <td>доп название</td>
                                                        <td>{{ c['sub_title'] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>объем</td>
                                                        <td>{{ c['volume'] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>цена</td>
                                                        <td>{{ c['price'] }}</td>
                                                    </tr>
                                                    <tr><td colspan="2">
                                                        <table class="table">
                                                            {% for dc in c['dop_info'] %}
                                                            <tr>
                                                                <td>{{ consumable[dc['id_consumable']] }}</td>
                                                                <td>{{ dc['quantity_consumable'] }} ед</td>
                                                            </tr>
                                                            {% endfor %}
                                                        </table>
                                                    </td>
                                                    </tr>

                                                </table>
                                                <hr>
                                                {% endfor %}

                                            </td>
                                            <td>
                                                <table>
                                                    {% for do in p['other_option']  %}
                                                    <tr>
                                                        <td>{{ do['name_option'] }}</td>
                                                        <td>{{ do['value_option'] }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </table>
                                            </td>
                                            <td>
                                                <input type="button" value="update">
                                                <input type="button" value="remove">
                                            </td>
                                        </tr>
                                        {% endfor %}

                                    </table>

                                {% elif products[keys[i]]['type_category'] == 2 %}
                                    <table class="table">
                                        <tr>
                                            <th>Фото</th>
                                            <th>Название</th>
                                            <th>Описание</th>
                                            <th>Конкретные товары</th>
                                            <th>Дополнительные опции</th>
                                            <th></th>
                                        </tr>
                                        {% for p in products[keys[i]]['products'] %}
                                        <tr>

                                            <td><img src="{{ p['path_img'] }}" class="img-circle" style="width: 50px" ></td>
                                            <td>{{ p['title'] }}</td>
                                            <td>{{ p['description'] }}</td>
                                            <td>
                                                {%  for c in p['concrete_products'] %}
                                                <table class="table">

                                                    <tr>
                                                        <td>объем</td>
                                                        <td>{{ c['volume'] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>цена</td>
                                                        <td>{{ c['price'] }}</td>
                                                    </tr>
                                                </table>
                                                <hr>
                                                {% endfor %}

                                            </td>
                                            <td>
                                                <table>
                                                    {% for do in p['other_option']  %}
                                                    <tr>
                                                        <td>{{ do['name_option'] }}</td>
                                                        <td>{{ do['value_option'] }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </table>
                                            </td>
                                            <td>
                                                <input type="button" value="update">
                                                <input type="button" value="remove">
                                            </td>
                                        </tr>
                                        {% endfor %}

                                    </table>
                                {% elif products[keys[i]]['type_category'] == 3 %}
                                    <table class="table">
                                        <tr>
                                            <th>Фото</th>
                                            <th>Название</th>
                                            <th>Описание</th>
                                            <th>Конкретные товары</th>
                                            <th>Дополнительные опции</th>
                                            <th></th>
                                        </tr>
                                        {% for p in products[keys[i]]['products'] %}
                                        <tr>

                                            <td><img src="{{ p['path_img'] }}" class="img-circle" style="width: 50px" ></td>
                                            <td>{{ p['title'] }}</td>
                                            <td>{{ p['description'] }}</td>
                                            <td>
                                                {%  for c in p['concrete_products'] %}
                                                <table class="table">

                                                    <tr>
                                                        <td>цена</td>
                                                        <td>{{ c['price'] }}</td>
                                                    </tr>

                                                </table>
                                                <hr>
                                                {% endfor %}

                                            </td>
                                            <td>
                                                <table>
                                                    {% for do in p['other_option']  %}
                                                    <tr>
                                                        <td>{{ do['name_option'] }}</td>
                                                        <td>{{ do['value_option'] }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </table>
                                            </td>
                                            <td>
                                                <input type="button" value="update">
                                                <input type="button" value="remove">
                                            </td>
                                        </tr>
                                        {% endfor %}

                                    </table>
                                {% else %}
                                    <table class="table">
                                        <tr>
                                            <th>Фото</th>
                                            <th>Название</th>
                                            <th>Описание</th>
                                            <th>Дополнительные опции</th>
                                            <th></th>
                                        </tr>
                                        {% for p in products[keys[i]]['products'] %}
                                        <tr>

                                            <td><img src="{{ p['path_img'] }}" class="img-circle" style="width: 50px" ></td>
                                            <td>{{ p['title'] }}</td>
                                            <td>{{ p['description'] }}</td>
                                            <td>
                                                <table>
                                                    {% for do in p['other_option']  %}
                                                    <tr>
                                                        <td>{{ do['name_option'] }}</td>
                                                        <td>{{ do['value_option'] }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </table>
                                            </td>
                                            <td>
                                                <input type="button" value="update">
                                                <input type="button" value="remove">
                                            </td>
                                        </tr>
                                        {% endfor %}

                                    </table>
                                {% endif %}
                            {% else %}
                                таких товаров пока - что нет
                            {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    {#<div class="c-tab" style="color: #1a1a1a">
                              <div class="c-tab__content">
                                          третья табка
                                                    </div></div>#}
                </div>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='tabs/src/tabs.js') }}"></script>
    <script>
        var myTabs = tabs({
            el: '#tabs',
            tabNavigationLinks: '.c-tabs-nav__link',
            tabContentContainers: '.c-tab'
        });
        myTabs.init();
    </script>
    {% else %}
        у вас нет категорий товаров<br>
        создайте для начала категории <a href="{{ url_for('categories') }}"><input type="button" value="click"></a>
    {% endif %}
{% endblock %}