{% extends "admin_network/layout.html" %}
{% block scripts %}
    <script>
    var is_first;
    var id = 0;
    function remove_block(id_) {

            $('#'+id_).remove();

    }
        function create_other_information() {
            var cat = document.getElementById('category').value.split('_');
            //alert(cat);
            if(parseInt(cat[1]) == 1){
                //alert('sdsd')
                if (is_first){
                    is_first =false;

                    text = '  <select name="toppings" multiple="multiple" class="3col active" style="width: 200px" required>\n' +
                        '        {% for t in toppings %}' +
                        '            <option value="{{ t['id_topping'] }}" >{{ t['title_topping'] }}</option>'+'' +
                        '        {% endfor %}\n'+
                        '    </select>';
                    $('#other_information').append(text);
                text = '<script>' +
                    '$(function () {\n' +
                    '        $(\'select[multiple].active.3col\').multiselect({\n' +
                    '            columns: 3,\n' +
                    '            placeholder: \'Select States\',\n' +
                    '            search: true,\n' +
                    '            searchOptions: {\n' +
                    '                \'default\': \'Search States\'\n' +
                    '            },\n' +
                    '            selectAll: true\n' +
                    '        });\n' +
                    '\n' +
                    '    });\<\/script>';
                    $('#other_information').append(text);
                    text = "            <img src=\"{{ url_for('static', filename='images/plus.svg') }}\" width=\"12px\" onclick=\"add_new_other()\"> \n"

                    $('#other_information').append(text)

                }
                {#text = "<div>\n" +
                    "            объем <input type=\"number\" name=\"volume\" step=\"0.01\" min=\"0.01\">\n" +
                    "            цена <input type=\"number\" min=\"0.01\" step=\"0.01\" name=\"price\" ><br>\n" +
                    "            специфическое описание <textarea name=\"description_drink\"></textarea>\n" +
                    "        </div>";#}
                text = '<table id="'+id+'">\n' +
                    '            \n' +
                    '            <tr>\n' +
                    '                <td>название</td>\n' +
                    '                <td><input type="text" name="title_drink" ><img src="{{ url_for('static', filename='images/minus.svg') }}" width="12px" onclick="remove_block('+id+')"></td>' +
                    '            </tr>' +
                    '<tr>\n' +
                    '                <td>объем</td>\n' +
                    '                <td><input type="number" name="volume" step="0.01" min="0.01"> мл</td>' +
                    '            </tr>\n' +
                    '            <tr>\n' +
                    '                <td>цена</td>\n' +
                    '                <td><input type="number" min="0.01" step="0.01" name="price_" > грн<br></td>\n' +
                    '            </tr>\n' +
                    '            <tr>\n' +
                    '                <td>специфическое описание</td>\n' +
                    '                <td><textarea name="description_drink" rows="4" cols="40" style="resize: none"></textarea></td>\n' +
                    '            </tr>\n' +
                    '            <tr>\n' +
                    '                <td></td>\n' +
                    '                <td></td>\n' +
                    '            </tr>\n' +
                    '        </table>';
                id+=1;
                //other_information.innerHTML = text;
                {#document.getElementById#}//$('#other_information').append(text)
            }
            else{
                is_first = true
                var container = document.getElementById('other_information');
                while (container.firstChild) {
                    container.removeChild(container.firstChild);
                }
            }

        }
        function add_new_other() {
                 {#text = "<div>\n" +
                    "            объем <input type=\"number\" name=\"volume\" step=\"0.01\" min=\"0.01\">\n" +
                    "            цена <input type=\"number\" min=\"0.01\" step=\"0.01\" name=\"price\" ><br>\n" +
                    "            специфическое описание <textarea name=\"description_drink\"></textarea>\n" +
                    "        </div>";#}
                text = '<table id="'+id+'">\n' +
                    '            \n' +
                    '            <tr>\n' +
                    '                <td>название</td>\n' +
                    '                <td><input type="text" name="title_drink" ><img src="{{ url_for('static', filename='images/minus.svg') }}" width="12px" onclick="remove_block('+id+')"></td>' +
                    '            </tr>' +
                    '<tr>\n' +
                    '                <td>объем</td>\n' +
                    '                <td><input type="number" name="volume" step="0.01" min="0.01"> мл </td>' +
                    '            </tr>\n' +
                    '            <tr>\n' +
                    '                <td>цена</td>\n' +
                    '                <td><input type="number" min="0.01" step="0.01" name="price_" > грн <br></td>\n' +
                    '            </tr>\n' +
                    '            <tr>\n' +
                    '                <td>специфическое описание</td>\n' +
                    '                <td><textarea name="description_drink" rows="4" cols="40" style="resize: none"></textarea></td>\n' +
                    '            </tr>\n' +
                    '            <tr>\n' +
                    '                <td></td>\n' +
                    '                <td></td>\n' +
                    '            </tr>\n' +
                    '        </table>';
                id +=1;
                //other_information.innerHTML = text;
                {#document.getElementById('other_information').append(text)#}
            $('#other_information').append(text)
        }
        window.onload = function () {
            is_first = true;
            create_other_information()

        }


    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='multi_select/jquery.multiselect.css') }}">
    <script src="{{ url_for('static', filename='multi_select/jquery.multiselect.js') }}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}
{% block content %}
    <a href="{{ url_for('list_products', id_coffee_shop=id_coffee_shop)}}"> <input type="button" value="меню кофейни"></a>
    <form action="{{ url_for('new_product',id_coffee_shop=id_coffee_shop) }}" method="post" enctype="multipart/form-data">
        <table style="text-align: left">
        <tr>
            <td colspan="2">
                <select name="category" id="category" onchange="create_other_information()">
                    {% for c in categories %}
                        <option value="{{ c['id_category'] }}_{{ c['type_category'] }}">{{ c['title_category'] }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>название</td>
            <td><input type="text" name="title" placeholder="название"><br></td>
        </tr>
        <tr>
            <td>описание</td>
            <td><textarea placeholder="описание" name="description" rows="4" cols="40" style="resize: none"></textarea><br></td>
        </tr>
        <tr>
            <td>цена</td>
            <td><input type="number" min="0.01" step="0.01" name="price" ><br></td>
        </tr>
        <tr>
            <td>фото</td>
            <td><input type="file" name="file" accept="image/*" required></td>
        </tr>
        <tr>
            <td>количество</td>
            <td><input type="number" min="0" step="1" name="quantity"><br></td>
        </tr>
        <tr>
            <td>участвует в собирашках</td>
            <td> <input type="checkbox" name="is_gatherer" ></td>
        </tr>
        <tr>
            <td>можно ли на это поменять</td>
            <td> <input type="checkbox" name="is_to_swap"></td>
        </tr>
        <tr>
            <td colspan="2" id="other_information"></td>
        </tr>

    {#название <input type="text" name="title" placeholder="название"><br>#}
    {#описание <textarea placeholder="описание" name="description"></textarea><br>#}
    {#цена <input type="number" min="0.01" step="0.01" name="price" ><br>#}
    {#количество <input type="number" min="0" step="1" name="quantity"><br>#}
    {#учавствует в собирашках <input type="checkbox" >#}
    {#можно ли на это поменять <input type="checkbox" >#}
    {#<div id="other_information">
        <table>

            <tr>
                <td>название</td>
                <td><input type="text" name="title_drink" ></td>
            </tr>
            <tr>
                <td>объем</td>
                <td><input type="number" name="volume" step="0.01" min="0.01"> ml</td>
            </tr>
            <tr>
                <td>цена</td>
                <td><input type="number" min="0.01" step="0.01" name="price" ><br></td>
            </tr>
            <tr>
                <td>специфическое описание</td>
                <td><textarea name="description_drink" rows="4" cols="40" style="resize: none"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>#}
        {#<div id="other_drink">
            объем <input type="number" name="volume" step="0.01" min="0.01">
            цена <input type="number" min="0.01" step="0.01" name="price" ><br>
            специфическое описание <textarea name="description_drink"></textarea>
            <img src="{{ url_for('static', filename='images/plus.svg') }}" width="12px" onclick="add_new_other()">
        </div>#}

    <tr style="text-align: center">
        <td colspan="2"><input type="submit" value="добавить"></td>
    </tr>
    </table>

     <script>

</script>

    </form>

{% endblock %}