<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='js_menu/style.css') }}">
</head>
<body>
<img src="{{ url_for('static', filename='new-sayt-404.png') }}">
<br><div style="text-align: center"><a href="/" style="text-decoration:none; text-align: center"><input type="button" value="к начальной"></a></div>
</body>
</html>